.login-title {
    font-size: 20px;
    color: white;
    margin-top: 5px;
    margin: auto;
    display: inline-block;
    text-align: center;
}

.login-text {
    font-size: 18px;
    color: white;
    margin-top: 15px;
}

.login-input {
    color: white;
    background: #3b4666;
    border: 2px solid #353f5c;
    padding: 6px;
    transition: 0.3s;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    width: 234px;
}

.login-button {
    outline: none;
    font-size: 14px;
    margin-top: 15px;
    padding: 10px;
    padding-right: 96px;
    padding-left: 96px;
    border-radius: 5px;
    color: white;
    background: #3b4666;
    border: 2px solid transparent;
    font-weight: bold;
    transition: 0.3s;
}

.form-element p {
    display: inline-block;
    width: 100px;
    padding: 20px;
}
