/* Forside Box */
.forside-box {
    background: rgba(48, 58, 82, 0.5);
    width: 610px;
    height: 320px;
    margin-left: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 25px;
}

/* Menu Box */
.menu-box {
    background: rgba(48, 58, 82, 0.5);
    border-radius: 10px;
    padding: 25px;
    margin: 17.5px 25px 12.5px 5px;
    display: table;
    float: left;
    transition: all .2s ease-in-out;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: white;
}

/* Register Box */
.register-box {
    background: rgba(48, 58, 82, 0.8);
    width: 285px;
    height: 460px;
    margin: auto;
    margin-top: 150px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 25px;
}

/* Login Box */
.login-box {
    background: rgba(48, 58, 82, 0.8);
    width: 285px;
    margin: auto;
    height: 388px;
    margin-top: 150px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 25px;
}

/* Table */
.table-menu {
    font-size: 14px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table-menu td,
.table-menu th {
    padding-right: 10px;
    padding-left: 10px;
}
