/* Move down content because we have a fixed navbar that is 50px tall */
body {
   
}

.main {
    background-image: url("Images/img-background.jpg");
    background-size: 100%;
}

.alert {
    width: 200px;
    padding-right: 41px;
    padding-left: 41px;
    top: 25px;
}

.menu, .menu-fluid {
    background: rgba(48, 58, 82, 0.0);
    background-size: 100%;
    bottom: 0;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border: black solid 1px;    
    position: static;
}