.menu, .menu-fluid {
    background: white;
    background-size: 100%;
    bottom: 0;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border: black solid 1px;
    position: static;
}