menu-button {
    outline: none;
    font-size: 14px;
    margin-top: 15px;
    padding: 10px;
    padding-right: 96px;
    padding-left: 96px;
    border-radius: 5px;
    color: white;
    background: #3b4666;
    border: 2px solid transparent;
    font-weight: bold;
    transition: 0.3s;
}
    
menu-table {
    width: 800px;
}